<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 为根元素节点， 一个namespace对应一个dao -->
<mapper namespace="com.xzhy.zhb.myblog.mapper.TypeMapper">
    <insert id="saveType" parameterType="com.xzhy.zhb.myblog.pojo.Type" useGeneratedKeys="true" keyProperty="id">
        insert into t_type(name) values (#{name});
    </insert>
    <select id="getTypeById" resultType="com.xzhy.zhb.myblog.pojo.Type">
        select type.id,type.name from t_type type where type.id = #{id};
    </select>

    <select id="getTypeByName" resultType="com.xzhy.zhb.myblog.pojo.Type">
        select type.id,type.name from t_type type where type.name = #{name};
    </select>

    <!--resultMap list<Object>的映射-->
    <resultMap id="myType" type="com.xzhy.zhb.myblog.pojo.Type">
        <id property="id" column="tid"></id>
        <result property="name" column="tname"></result>
        <collection property="blogs" ofType="com.xzhy.zhb.myblog.pojo.Blog">
            <id column="bid" property="id"></id>
            <result property="title" column="title"></result>
            <result property="typeId" column="type_id"></result>
        </collection>
    </resultMap>

    <select id="getAllByType" resultMap="myType">
        select t.id tid,t.name tname,b.id bid,b.title,b.type_id from t_type t,t_blog b where t.id = b.type_id;
    </select>

    <select id="getAdminType" resultType="com.xzhy.zhb.myblog.pojo.Type">
        select t.id,t.name from t_type t
    </select>

    <delete id="deleteType">
        delete from t_type where id = #{id};
    </delete>

    <update id="updateType">
        update t_type  set name = #{name} where id = #{id};
    </update>
</mapper>
