<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 为根元素节点， 一个namespace对应一个dao -->
<mapper namespace="com.xzhy.zhb.myblog.mapper.UserMapper">
    <!--查询数据库中是否包含该用户-->
    <select id="queryAccountByNameAndPassword" resultType="com.xzhy.zhb.myblog.pojo.User">
       select u.id,u.nickname,u.username,u.`password`,u.email,u.avatar,u.type,u.create_time,u.update_time from t_user u
       WHERE u.username = #{name} AND u.`password` = #{password};
    </select>
</mapper>
